.collapse__container {
  position: relative;
  width: 100%;
}
.collapse__container > div {
  transition: transform 0.1s;
  transform-origin: 50% 0%;
}
.collapse__header {
  background-color: #ff6060;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-size: 18px;
  color: white;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.collapse__header img {
  width: auto;
  height: 20px;
  margin-right: 15px;
}
.collapse--title {
  margin-left: 15px;
}
.arrow_up {
  transform: rotate(-90deg);
}
.arrow_down {
  transform: rotate(90deg);
}
.content--shown {
  transform: scaleY(1);
}
.content--hidden {
  transform: scaleY(0);
  margin-bottom: 50px;
  height: 0px;
}
.collapse--content {
  border-radius: 10px;
  z-index: -1;
  background-color: #f6f6f6;
}

.collapse--description {
  margin: 0;
  padding: 65px 15px 25px 15px;
  font-size: 18px;
  line-height: 25.67px;
  color: #ff6060;
  list-style: none;
}

/****** Media queries ***********/
/* TABLET 768px */
@media (max-width: 768px) {
}
/* MOBILE 375px */
@media (max-width: 375px) {
  .collapse__header {
    height: 30px;
    border-radius: 5px;
    font-size: 10px;
  }

  .collapse__header img {
    margin-right: 10px;
  }
  .collapse--title {
    margin-left: 10px;
  }
  .collapse--content {
    border-radius: 5px;

    min-height: 28px;
  }
  .collapse--description {
    font-size: 12px;
    padding: 40px 15px 15px 15px;
    line-height: 17px;
    font-weight: 400;
  }

  .content--hidden {
    margin-bottom: 30px;
  }
}
