.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  max-width: 1240px;
  margin: auto;
  padding: 50px 0px;
  padding-left: 5vw;
  padding-right: 5vw;

      img {
      width: 210px;
      height: 100%;
      }

      ul {
        display: flex;
        gap: 50px;
        padding: 0;
        font-size: 24px;
        color: #ff6060;
        font-weight: 500;
        text-decoration: none;
        list-style: none;
          a {
            text-decoration: none;
            color: #ff6060;
            font-size: 24px;
            font-weight: 500;
              &.active {
                text-decoration: underline;
              }
          }
      
      }
}


/****** Media queries ***********/
/* TABLET 768px */
@media (max-width: 768px) {
  .header {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 5vw;
    padding-right: 5vw;

      img {
      width: 170px;
      }
  }
}

/* MOBILE 375px */
@media (max-width: 500px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0px;
     
      img {
        width: 142px;
      }
      ul {
        gap: 26px;

      a {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
  }   
}
