.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  text-decoration: none;
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header--logo {
  width: 210px;
  height: 100%;
}

.kasa--menu {
  display: flex;
  gap: 50px;
  padding: 0;

  font-size: 24px;
  color: #ff6060;
  font-weight: 500;
  text-decoration: none;

  list-style: none;
}
.kasa--menu a {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
}
.kasa--menu a.active {
  text-decoration: underline;
}

/****** Media queries ***********/
/* TABLET 768px */
@media (max-width: 768px) {
  .header {
    padding: 33px 0px;
    max-width: 1240px;
    width: 700px;
  }

  .header--logo {
    width: 170px;
  }
}

/* MOBILE 375px */
@media (max-width: 375px) {
  .header {
    padding: 20px 20px;
    width: 335px;

    margin: 0px;
  }

  .header--logo {
    width: 142px;
  }

  .kasa--menu {
    gap: 26px;
  }

  .kasa--menu a {
    font-size: 12px;
    text-transform: uppercase;
  }
}
