
//Logement
.logement--container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-right: 5vw;
  padding-left: 5vw;
  gap: 50px;
  max-width: 1240px;
  margin: auto;
}

.logement--content {
  display: flex;
  justify-content: space-between;
}
.logement--content--left-side {
  display: flex;
  flex-direction: column;
      h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 51.34px;
        color: #ff6060;
        margin: 0px;
      }
      p {
        font-size: 18px;
        color: #ff6060;
        margin: 0px;
      }
}



.logements--tags--container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.logements--tags {
  background-color: #ff6060;
  border-radius: 10px;
  min-width: 115px;
  padding: 2.5px 20px;
  text-align: center;
  font-size: 14px;
  color: white;
}
.logement--content--right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logement--host--container {
  display: flex;
  align-items: center;
  justify-content: right;
    p {
      color: #ff6060;
      font-size: 18px;
      text-align: right;
      max-width: 90px;
      height: 64px;
      margin: 0;
      display: flex;
      align-items: center;
    }
    img {
      height: 64px;
      width: 64px;
      border-radius: 50%;
      object-fit: contain;
      margin-left: 10px;
    }
}


.rating--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.rating--star {
  height: auto;
  padding: 5px;
}
.logement--deroulants {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 5vw;
}
/****** Media queries ***********/
/* TABLET 768px */
@media (max-width: 768px) {
  .logement--container {
    display: flex;
    flex-direction: column;
  }
  .logement--content--left-side {
    h1 {
      font-size: 24px;
      line-height: 25px;
      }
  }
}

/* MOBILE 500px */
@media (max-width: 500px) {
  .logement--container {
    padding: 0px 20px 20px 20px;
    gap: 20px;
  }

  .logement--content {
    display: flex;
    flex-direction: column;
  }
  .logement--content--left-side{
    h1 {
        font-size: 18px;
        font-weight: 500;
        line-height: 51.34px;
        color: #ff6060;
        margin: 0px;
        line-height: 25px;
      }
      p {
        font-size: 14px;
        margin-top: 10px;
        }
  }
      
  


  .right-side {
    display: flex;
    justify-content: space-between;
  }
  
  

  .logements--tags--container {
    margin-top: 10px;
  }
  .logements--tags {
    border-radius: 5px;
    min-width: 84px;
    font-size: 10px;
    padding: 2.5px 5px;
  }
  .logement--content--right-side {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 15px;
  }
  .logement--host--container {
    display: flex;
    align-items: center;
    justify-content: right;


      p {
          font-size: 12px;
          max-width: 90px;
          height: 32px;
          margin: 0;
          align-items: center;
        }

      img {
        height: 32px;
         width: 32px;
      }
  }


  
  

  .rating--container {
    height: 36px;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .rating--star {
    height: 15px;
    padding: 4px;
  }

  .logement--deroulants {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
  }
}
