.main {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px;
  outline: 1px solid blue;
}

.cards--container {
  border-radius: 25px;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  outline: 1px solid yellowgreen;
}
/****** Media queries ***********/

/* TABLET 768px */
@media (max-width: 768px) {
  .main {
    gap: 33px;
    padding: 0px 0px 33px 0px;
  }

  .cards--container {
    background-color: transparent;
    gap: 33px;
    padding: 0px;
    flex-direction: column;
  }
}

/* MOBILE 375px */
@media (max-width: 375px) {
  .main {
    gap: 20px;
    padding: 0px 0px 20px 0px;
  }

  .cards--container {
    background-color: transparent;
    gap: 20px;
    padding: 0px;
  }

  .cards--container {
  }
}
