.pageAbout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about--main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.about--collapse--container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 50px;
}

/****** Media queries ***********/
/* TABLET 768px */
@media (max-width: 768px) {
  .about--main {
    gap: 33px;
  }

  .about--banner {
    border-radius: 10px;
    height: 111px;
        img {
          width: 100%;
          position: relative;
          bottom: 12em;
      }
  }
  
  .about--collapse--container {
    gap: 30px;
  }
  .about--collapses {
    height: 40px;
  }
}
/* MOBILE 500px */
@media (max-width: 500px) {
  .about--main {
    gap: 20px;
  }

  .about--banner {
    border-radius: 10px;
    height: 111px;
        img {
              position: relative;
              bottom: 2em;
            }
  }
   
  .about--collapse--container {
    gap: 20px;
  }
  .about--collapses {
    height: 30px;
  }
}
