body {
  font-family: "Montserrat", serif;

  max-width: 1440px;
  margin: auto;
  height: auto;
}

/****** Media queries ***********/

/* TABLET 768px */
@media (max-width: 768px) {
  body {
    max-width: 1240px;
    margin: auto;
  }
}

/* MOBILE 375px */
@media (max-width: 375px) {
  body {
    max-width: 375px;
    margin: auto;
  }
}
