body {
  font-family: "Montserrat", serif;
  margin: auto;
  min-height: 100vh;
  border: 1px solid red;
  padding-left: 5vw;
  padding-right: 5vw;
}

/****** Media queries ***********/

/* TABLET 768px */
@media (max-width: 768px) {
  body {
    max-width: 1240px;
    margin: auto;
  }
}

/* MOBILE 375px */
@media (max-width: 375px) {
  body {
    max-width: 375px;
    margin: auto;
    padding: 0px 20px 0px 20px;
  }
}
